<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Sign Up</h1>
        <p class="text-xs-center">
          <a routerLink="/login">Have an account?</a>
        </p>
        BACKEND ERRORS HERE
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <fieldset class="form-group col-md-5">
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="First name"
                formControlName="firstName"
              />
            </fieldset>
            <fieldset class="form-group col-md-5">
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="Last name"
                formControlName="lastName"
              />
            </fieldset>
          </div>
          <fieldset class="form-group">
            <input
              type="text"
              class="form-control form-control-lg"
              placeholder="Email"
              formControlName="email"
            />
          </fieldset>
          <fieldset class="form-group">
            <input
              type="password"
              class="form-control form-control-lg"
              placeholder="Password"
              formControlName="password"
            />
          </fieldset>
          <fieldset class="form-group">
            <input
              type="text"
              class="form-control form-control-lg"
              placeholder="Street Address"
              formControlName="streetAddress"
            />
          </fieldset>

          <fieldset class="form-group">
            <input
              type="text"
              class="form-control form-control-lg"
              placeholder="City"
              formControlName="city"
            />
          </fieldset>

          <fieldset class="form-group">
            <input
              type="text"
              class="form-control form-control-lg"
              placeholder="State"
              formControlName="state"
            />
          </fieldset>

          <fieldset class="form-group">
            <input
              type="text"
              class="form-control form-control-lg"
              placeholder="Zip Code"
              formControlName="zipCode"
            />
          </fieldset>

          <button type="submit" class="btn btn-lg btn-primary pull-xs-right">
            Sign Up
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
